.sideBar {
    padding-top: 1em;
    display: grid;
    grid-template-rows: 10% 10% 10% 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(163, 80, 210, 1) 18%, rgba(55, 77, 153, 1) 66%);
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.15);
    transition: width 0.3s ease-in-out; 
    min-width: 3em;
}


.collapsedSideBar {
    width: 3em;
}

.openSideBar {
    width: 10rem;
}





