/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* alligns everything in the center of the page*/



.sigCanvas {
  border: 1px solid black;
  border-radius: 20px
}

.button {
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.192);
}

.button:hover {
  background-color: rgba(0, 0, 255, 0.377);
}

.form {
  display: grid;
  grid-template-rows: 82% 18%;
}

#buttonClear {
  background-color: rgba(255, 0, 0, 0.233);
}

#buttonClear:hover {
  background-color: rgba(255, 0, 0, 0.432);
}

#buttonProceed {
  background-color: rgba(0, 255, 21, 0.233);
}

#buttonProceed:hover {
  background-color: rgba(0, 255, 21, 0.425);
}

.text {
  position: relative;
  max-width: 60%;
  left: 50%;
  transform: translate(-50%);
}